
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; 
  margin: 0;
  padding: 0;
}

body {
  color: #171717;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #ffffff;
  margin: 0;
  }

a:link{ color: #005DCC;}
a:visited { color: #CB0306; }
a:hover { color: #FBEA00; }
a:active { color: #f2f7f8; }
a{
  margin: 0;
}
img{
  margin: 0;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif; }

.uppercase {
  text-transform: uppercase; }





/* スマホ */
@media (max-width: 414px)/* 414px以上 */
{
  header .pc_all{
    display: none;
    }
    
    
/* Header
------------------------------------------------------------*/
.container{
  width: 100%;
}
.h_all{
  margin: 0 auto;
  margin-top: 10px;
}
.row{
  width: 100%;
  margin: 0 auto;
  display: block;
}
.logo{
  margin: 0 auto;
  padding: 0px;
  width: 240px;
}
.description{
  width: 96%;
  margin: 0 auto;
  font-size: 80%;
}
.top_navi{
  width: 90%;
  text-align: center;
}
.top_navi_sitemap{
  display: none;
}
.top_navi_contact{
  display: none;
}
.top_navi_search{
  padding-left: 0px;
  margin: 0 auto;
}

/* 検索フォーム*/
#searchform1{
  position: relative;
  margin: 5px;
}
#keywords1  {  
    width: 170px;  
    height: 20px;
    border: 1px solid #0075B4;
    padding: 2px 2px 2px 2px;
}  

/* ネック */
neck{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
ul.nav{
  padding: 5px;
}
ul.nav li{
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background: #C6191E;
  width: 80%;
  height: 24px;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  vertical-align: middle;
}
ul.nav li a{
  color: #ffffff;
  text-decoration: none;
}
ul.nav li a:visited{
  color: #ffffff;
}
ul.nav li a:hover{
  color: #E9C500;
}
ul.nav li a:active{
  color: #E9C500;
}


/* ▽更新情報▽*/
.info{
  margin: 0 auto;
  width: 80%;
}

.info_tit{
position: relative;
background: #0075B4;
padding: 2px 40px 2px 25px;
font-size: 18px;
color: #ffffff;
border-radius: 0 10px 10px 0;
margin: 8px;
text-align: center;
}

.info_tit:before {
font-family: FontAwesome;
content: "\f041";
display: inline-block;
line-height: 40px;
position: absolute;
padding: 0em;
color: white;
background: #0075B4;
font-weight: normal;
width: 40px;
text-align: center;
height: 40px;
line-height: 40px;
left: -1.35em;
top: 50%;
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
border: solid 3px white; 
border-radius: 50%;
}


.info_sub{
  height: auto;
  background-color: #f8f7f0;
  width: 98%;
}
.info_sub_tb{
  margin: 0 auto;
  text-align: left;
}

  
/* ▽商品ナビゲーション▽*/

.pro_nav_row{
  width: 98%;
  margin: 0 auto;
  text-align: center;
}
ul.pro_nav{
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
}
ul.pro_nav li{
  display: inline-block;
  background: #C6191E;
  width: 180px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  margin:0 0px 18px 0;
  border-style: double;
  border-color: #ffffff;
  border-width: medium;
}
ul.pro_nav li:hover{
  background: #0075B4;
}
ul.pro_nav li a{
  color: #ffffff;
  text-decoration: none;
}
ul.pro_nav li a:visited{
  color: #ffffff;
}
ul.pro_nav li a:hover{
  color: #E9C500;
}
ul.pro_nav li a:active{
  color: #E9C500;
}

/* Footer
------------------------------------------------------------*/
footer {
  background-color: #E9C500;
  padding: 20px 0;
  text-align: center;
  color: #171717;}

.f-link{
	padding: 0px;
	}
.f-link a:link{ color: #171717;}
.f-link a:visited{ color: #171717;}
.f-link a:hover{ color: #B30000;}
.f-link a:active{ color: #eeeeee;}

.f_link_po{
  margin-right: 25px;
  margin-bottom: 10px;
}

.f_link_deco{
position: relative;
padding: 2px 2px 2px 15px;
color: #E9C500;
border-radius: 0 10px 10px 0;
}

.f_link_deco:before {
font-family: FontAwesome;
content: "\f005";
display: inline-block;
line-height: 40px;
position: absolute;
padding: 0em;
color: #ffffff;
background: #E9C500;
font-weight: normal;
width: 30px;
text-align: center;
height: 30px;
line-height: 30px;
left: -1.35em;
top: 50%;
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
border-radius: 50%;
}


.copyright{
  padding-top: 10px;
}


}