
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; 
  margin: 0;
  padding: 0;
}

body {
  color: #171717;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #ffffff;
  margin: 0;
  }

a:link{ color: #005DCC;}
a:visited { color: #CB0306; }
a:hover { color: #FBEA00; }
a:active { color: #f2f7f8; }
a{
  margin: 0;
}
img{
  margin: 0;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif; }

.uppercase {
  text-transform: uppercase; }



/* Footer
------------------------------------------------------------*/
footer {
  background-color: #E9C500;
  padding: 20px 0;
  text-align: center;
  color: #171717;}

.f-link{
	padding: 0px;
	}
.f-link a:link{ color: #171717;}
.f-link a:visited{ color: #171717;}
.f-link a:hover{ color: #B30000;}
.f-link a:active{ color: #eeeeee;}

.copyright{
  padding-top: 10px;
}


/* デスクトップ */
@media (min-width: 769px)
{
  header .sp_all{
    display: none;
    }
    
/* Header
------------------------------------------------------------*/
header{
  margin: 0 auto;
  width: 100%;
}
.row_pc{
  width: 960px;
  display: flex;
  margin: 0 auto;
}
.logo_pc{
  margin: 5px 20px 0px 20px;
  padding: 0px;
  width: 240px;
}
.description_pc{
  width: 42%;
  margin-right: 20px;
  font-size: 80%;
}
ul .top_navi_pc{
  width: 30%;
  margin-top: 5px;
}
li .top_navi_pc a{
  text-decoration:none;
}
li .top_navi_pc a:link{
  color: #ffffff;
}
li .top_navi_pc a:visited{}
li .top_navi_pc a:hover{
  color: #E9C500;
}
li .top_navi_pc a:active{ }


ul.top_navi_pc li{
  width: 120px;
  line-height: 30px;
  margin: 5px 5px 15px 5px;
  float: left;
  background-color: #0075B4;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.top_navi_contact_pc{
  width: 120px;
  line-height: 30px;
  margin: 5px 5px 15px 5px;
  float: left;
  background-color: #0075B4;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* 検索フォーム*/
#searchform1_pc{
  position: relative;
  margin: 5px;
}
#keywords1_pc{  
    width: 165px;  
    height: 16px;   
    border: 1px solid #0075B4;  
    padding: 2px 2px 2px 35px;  
}  


}

/* neck
------------------------------------------------------------*/
neck{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
ul.nav{
  padding: 5px;
}
ul.nav li{
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background: #C6191E;
  width: 160px;
  height: 24px;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  vertical-align: middle;
}
ul.nav li a{
  color: #ffffff;
  text-decoration: none;
}
ul.nav li a:visited{
  color: #ffffff;
}
ul.nav li a:hover{
  color: #E9C500;
}
ul.nav li a:active{
  color: #E9C500;
}


/* スマホ */
@media (max-width: 768px)
{
  header .pc_all{
    display: none;
    }
    
    
/* Header
------------------------------------------------------------*/
.container{
  width: 100%;
}
.row{
  width: 767px;
  margin: 0 auto;
  display: flex;
}
.logo{
  margin: 5px 20px 0px 20px;
  padding: 0px;
  width: 240px;
}
.description{
  width: 90%;
  margin-right: 20px;
  font-size: 80%;
}
.top_navi_sp{
  width: 30%;
  margin-top: 5px;
}
.top_navi_sp a{
  text-decoration: none;
  color: #ffffff;
}
.top_navi_sp a:visited{
  color: #ffffff;
}
.top_navi_sp a:hover{
  color: #E9C500;
}
.top_navi_sp a:active{
  color: #E9C500;
}

.top_navi_sitemap{
  width: 80px;
  line-height: 30px;
  margin: 5px 5px 15px 5px;
  float: left;
  background-color: #0075B4;
  color: #fff;
  font-size: 80%;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.top_navi_contact{
  width: 80px;
  line-height: 30px;
  margin: 5px 5px 15px 5px;
  float: left;
  background-color: #0075B4;
  color: #fff;
  font-size: 80%;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* 検索フォーム*/
#searchform1{
  position: relative;
  margin: 5px;
}
#keywords1  {  
    width: 85px;  
    height: 16px;   
    border: 1px solid #0075B4;  
    padding: 2px 2px 2px 35px;  
}  

}