
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; 
  margin: 0;
  padding: 0;
}

body {
  color: #171717;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #ffffff;
  margin: 0;
  }

a:link{ color: #005DCC;}
a:visited { color: #CB0306; }
a:hover { color: #FBEA00; }
a:active { color: #f2f7f8; }
a{
  margin: 0;
}
img{
  margin: 0;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif; }

.uppercase {
  text-transform: uppercase; }



/* Footer
------------------------------------------------------------*/
footer {
  background-color: #E9C500;
  padding: 20px 0;
  text-align: center;
  color: #171717;}

.f-link{
	padding: 0px;
	}
.f-link a:link{ color: #171717;}
.f-link a:visited{ color: #171717;}
.f-link a:hover{ color: #B30000;}
.f-link a:active{ color: #eeeeee;}

.copyright{
  padding-top: 10px;
}


/* デスクトップ */
@media (min-width: 769px)
{
  header .sp_all{
    display: none;
    }
    
/* Header
------------------------------------------------------------*/
header{
  margin: 0 auto;
  width: 100%;
  margin-bottom: 0px;
}
.pc_all{
  margin-top: 15px;
}
.row_pc{
  width: 960px;
  display: flex;
  margin: 0 auto;
}
.logo_pc{
  margin: 5px 20px 0px 0px;
  padding: 0px;
  float: left;
  width: 25%;
}
.description_pc{
  float: left;
  width: 43%;
  font-size: 80%;
}
.top_navi_pc{
  float: left;
  width: 32%;
  margin-top: 5px;
}

ul .top_navi_pc{
  margin-top: 0px;
}
ul.top_navi_pc li a{
  text-decoration:none;
  color: #ffffff;
}
ul.top_navi_pc li a:link{
  color: #ffffff;
}
ul.top_navi_pc li a:visited{
  color: #ffffff;
}
ul.top_navi_pc li a:hover{
  color: #E9C500;
}
ul.top_navi_pc li a:active{
  color: #E9C500;
}
.top_navi_pc li{
  list-style: none;
  width: 120px;
  line-height: 30px;
  margin: 5px 5px 5px 5px;
  float: left;
  background-color: #0075B4;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.top_navi_sitemap{
  width: 80px;
  line-height: 30px;
  margin: 5px 5px 15px 5px;
  float: left;
  background-color: #0075B4;
  color: #fff;
  font-size: 80%;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.top_navi_contact_pc{
  width: 120px;
  line-height: 30px;
  margin: 5px 5px 5px 5px;
  float: left;
  background-color: #0075B4;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.top_navi_search_pc{
  margin-top: 25px;
}
/* 検索フォーム*/
#searchform1_pc{
  position: relative;
  margin: 5px;
}
#keywords1_pc{  
    width: 165px;  
    height: 16px;   
    border: 1px solid #0075B4;  
    padding: 2px 2px 2px 35px;  
}  

/* ネック
------------------------------------------------------------*/
neck{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
ul.nav{
  padding: 5px;
  margin-top: 0px;
}
ul.nav li{
  display: inline-block;
  margin-top: 0px;
  margin-left: 10px;
  background: #C6191E;
  width: 160px;
  height: 24px;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  vertical-align: middle;
}
ul.nav li a{
  color: #ffffff;
  text-decoration: none;
}
ul.nav li a:visited{
  color: #ffffff;
}
ul.nav li a:hover{
  color: #E9C500;
}
ul.nav li a:active{
  color: #E9C500;
}

/* メイン　main
------------------------------------------------------------*/

main{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* ▽カルーセル▽*/
.carousel{
background-color: #f8f7f0;
width: 770px;
height: 250px;
margin: 0 auto;
margin-bottom: 40px;
}



/* ▽更新情報▽*/
.info{
  margin: 0 auto;
  width: 500px;
}

.info_tit{
position: relative;
background: #0075B4;
padding: 2px 40px 2px 25px;
font-size: 18px;
color: #ffffff;
border-radius: 0 10px 10px 0;
margin: 8px;
}

.info_tit:before {
font-family: FontAwesome;
content: "\f041";
display: inline-block;
line-height: 40px;
position: absolute;
padding: 0em;
color: white;
background: #0075B4;
font-weight: normal;
width: 40px;
text-align: center;
height: 40px;
line-height: 40px;
left: -1.35em;
top: 50%;
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
border: solid 3px white; 
border-radius: 50%;
}


.info_sub{
  height: auto;
  background-color: #f8f7f0;
  width: 98%;
}
.info_sub_tb{
  margin: 0 auto;
  text-align: left;
}

/* ▽商品ナビゲーション▽*/

.pro_nav_row{
  width: 820px;
  margin: 0 auto;
}
ul.pro_nav{
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
}
ul.pro_nav li{
  display: inline-block;
  background: #C6191E;
  width: 180px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  margin:0 0px 18px 0;
  border-style: double;
  border-color: #ffffff;
  border-width: medium;
}
ul.pro_nav li:hover{
  background: #0075B4;
}
ul.pro_nav li a{
  color: #ffffff;
  text-decoration: none;
}
ul.pro_nav li a:visited{
  color: #ffffff;
}
ul.pro_nav li a:hover{
  color: #E9C500;
}
ul.pro_nav li a:active{
  color: #E9C500;
}

  }
