
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; 
  margin: 0;
  padding: 0;
}

body {
  color: #171717;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #ffffff;
  margin: 0;
  }

a:link{ color: #005DCC;}
a:visited { color: #CB0306; }
a:hover { color: #FBEA00; }
a:active { color: #f2f7f8; }
a{
  margin: 0;
}
img{
  margin: 0;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif; }

.uppercase {
  text-transform: uppercase; }

/* Header
------------------------------------------------------------*/
header{
  margin: 0 auto;
  width: 100%;
}
.container{
  width: 100%;
}
.row{
  width: 960px;
  display: flex;
  margin: 0 auto;
}
.logo{
  margin: 5px 20px 0px 20px;
  padding: 0px;
  width: 240px;
}
.description{
  width: 42%;
  margin-right: 20px;
  font-size: 80%;
}
.top_navi{
  width: 30%;
  margin-top: 5px;
}
.top_navi a{text-decoration: none}
.top_navi a:link{ color: #fff;}
.top_navi a:visited{ color: #fff;}
.top_navi a:hover{ color: #eee000;}
.top_navi a:active{ color: #eeeeee;}

.top_navi_sitemap{
  width: 120px;
  line-height: 30px;
  margin: 5px 5px 15px 5px;
  float: left;
  background-color: #0075B4;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.top_navi_contact{
  width: 120px;
  line-height: 30px;
  margin: 5px 5px 15px 5px;
  float: left;
  background-color: #0075B4;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* 検索フォーム*/
#searchform1{
  position: relative;
  margin: 5px;
}
#keywords1  {  
    width: 165px;  
    height: 16px;   
    border: 1px solid #0075B4;  
    padding: 2px 2px 2px 35px;  
}  


/* Footer
------------------------------------------------------------*/
footer {
  background-color: #E9C500;
  padding: 20px 0;
  text-align: center;
  color: #171717;}

.f-link{
	padding: 0px;
	}
.f-link a:link{ color: #171717;}
.f-link a:visited{ color: #171717;}
.f-link a:hover{ color: #B30000;}
.f-link a:active{ color: #eeeeee;}

.copyright{
  padding-top: 10px;
}


/* デスクトップ */
@media (min-width: 769px)
{
  header .sp_navi{
    display: none;
    }
}

/* スマホ */
@media (max-width: 768px)
{
  header .pc_navi{
    display: none;
    }
}