
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; 
  margin: 0;
  padding: 0;
}

body {
  color: #171717;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #ffffff;
  margin: 0;
  }

a:link{ color: #005DCC;}
a:visited { color: #CB0306; }
a:hover { color: #FBEA00; }
a:active { color: #f2f7f8; }
a{
  margin: 0;
}
img{
  margin: 0;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif; }

.uppercase {
  text-transform: uppercase; }




/* タブレット */
@media  print, screen and (min-width: 415px) and (max-width: 768px)/* 414px以上  768px以下 */
{

h1 {
  position: relative;
  background: #f4f4f4;
  padding: 2px 5px 2px 20px;
  font-size: 150%;
  color: #000;
  border-radius: 0 10px 10px 0;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  right: -10px;
}

h1:before {
  display: inline-block;
  line-height: 40px;
  position: absolute;
  padding: 0em;
  color: white;
  background: #C6191E;
  font-weight: normal;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  left: -1.35em;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
}
h2{
  font-size: 120%;
}


    
/* Header
------------------------------------------------------------*/
header{
  margin: 0 auto;
  width: 100%;
  margin-bottom: 0px;
}
.h_all{
  margin-top: 15px;
  margin-left: 15px;
}
.row{
  display: flex;
  margin: 0 auto;
}
.logo{
  width: 30%;
  margin: 10px 5px 0px 0px;
  padding: 0px;
  float: left;
}
.logo img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.description{
  float: left;
  width: 44%;
  font-size: 80%;
  margin: 0;
}
.top_navi{
  list-style: none;
  width: 180px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.top_navi a{
  text-decoration: none;
}
ul.top_navi li{
  line-height: 30px;
  margin: 0px 5px 5px 5px;
  text-align: center;
}
/* snsフォロー*/
.sns_follow{
  width: 150px;
  height: 30px;
  margin: 10px 5px 15px 10px;
  padding-left: 5px;
  text-align: center;
}
.sns_follow li{
  display: inline-block;
  width: 22%;
  font-size: 150%;
}
.fa-facebook-square{
  color: #315096;
  width: auto;
  height: 40px;
}
.fa-twitter-square{
  color: #55acee;
  width: auto;
  height: 40px;
}
.fa-rss-square{
  color: #ff8c00;
  width: auto;
  height: 40px;
}
/* 検索フォーム*/
.top_navi_search{
  width: 180px;
  margin-top: 0px;
  padding: 0;
}
#searchform1{
  position: relative;
  margin: 0px;
}
#keywords1{  
    width: 90px;  
    height: 22px;   
    border: 1px solid #0075B4;  
    padding: 2px 0px 2px 2px;
}  


/* ネック
------------------------------------------------------------*/
neck{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
ul.nav{
  padding: 5px;
  margin-top: 0px;
}
.nav a{
  display: block;
  text-decoration: none;
}
ul.nav li{
  display: inline-block;
  padding: 10px;
  margin: 10px 10px 0px 10px;
  background: #C6191E;
  color: #ffffff;
  width: 160px;
  height: 24px;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
ul.nav li:hover{
  background: #E9C500;
}
ul.nav li a{
  color: #ffffff;
  text-decoration: none;
}
ul.nav li a:visited{
  color: #ffffff;
}
ul.nav li a:hover{
  color: #E9C500;
}
ul.nav li a:active{
  color: #E9C500;
}

/* ▽smartphone▽*/
.sma_sns_nav{
  display: none;
}
.sma_nav{
  display: none;
}


/* メイン　main
------------------------------------------------------------*/

main{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* ▽カルーセル▽*/
.carousel{
width: 90%;
margin: 0 auto;
margin-bottom: 0px;
}



/* ▽更新情報▽*/
.info{
  margin: 0 auto;
  width: 80%;
}

.info_tit{
position: relative;
background: #0075B4;
padding: 2px 10px 2px 25px;
font-size: 18px;
color: #ffffff;
border-radius: 0 10px 10px 0;
margin: 8px;
}

.info_tit:before {
font-family: FontAwesome;
content: "\f041";
display: inline-block;
line-height: 40px;
position: absolute;
padding: 0em;
color: white;
background: #0075B4;
font-weight: normal;
width: 40px;
text-align: center;
height: 40px;
line-height: 40px;
left: -1.35em;
top: 50%;
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
border: solid 3px white; 
border-radius: 50%;
}


.info_sub{
  height: auto;
  background-color: #f8f7f0;
  width: 98%;
}
.info_sub_tb{
  margin: 0 auto;
  text-align: left;
}

/* ▽商品ナビゲーション▽*/

.pro_nav_row{
  width: 96%;
  margin: 0 auto;
}
ul.pro_nav{
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
}
ul.pro_nav li{
  display: inline-block;
  background: #C6191E;
  color: #ffffff;
  width: 180px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  margin:0 0px 18px 0;
  border-style: double;
  border-color: #ffffff;
  border-width: medium;
}
ul.pro_nav li:hover{
  background: #0075B4;
}
ul.pro_nav li a{
  color: #ffffff;
  text-decoration: none;
}
ul.pro_nav li a:visited{
  color: #ffffff;
}
ul.pro_nav li a:hover{
  color: #E9C500;
}
ul.pro_nav li a:active{
  color: #E9C500;
}


/* スマホナビ*/
.sp_header{
  display: none;
}

.description_sp_index{
  display: none;
}

/* スマホSNSナビ */
.sp_sns_navi{
  display: none;
}

/* 上に戻るボタン */
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#pageTop a {
  display: block;
  z-index: 999;
  padding: 10px;
  border-radius: 8px;
  width: 25px;
  height: auto;
  background-color: #0075B4;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/*スポンサー*/

.sponsor{
  width: auto;
  height: 100px;
}


/* Footer
------------------------------------------------------------*/
footer {
  background-color: #E9C500;
  padding: 20px 0;
  text-align: center;
  color: #171717;}

.f-link{
	padding: 0px;
	width: 100%;
	}
.f-link a:link{ color: #171717;}
.f-link a:visited{ color: #171717;}
.f-link a:hover{ color: #B30000;}
.f-link a:active{ color: #eeeeee;}

.f_link_po{
  margin-right: 25px;
  margin-bottom: 10px;
	display: inline-block;
}

.f_link_deco{
position: relative;
padding: 2px 2px 2px 15px;
color: #E9C500;
border-radius: 0 10px 10px 0;
}

.f_link_deco:before {
font-family: FontAwesome;
content: "\f005";
display: inline-block;
line-height: 40px;
position: absolute;
padding: 0em;
color: #ffffff;
background: #E9C500;
font-weight: normal;
width: 30px;
text-align: center;
height: 30px;
line-height: 30px;
left: -1.35em;
top: 50%;
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
border-radius: 50%;
}

.copyright{
  padding-top: 10px;
}


/* プロダクツ　prodcts  ------- */

/* ▽ネック▽*/

#nav_dot{
  color: #C6191E;
  background: #ffffff;
  border-style: dotted;
  border-color: #C6191E;
  border-width: medium;
}
#nav_dot:hover{
  background: #E9C500;
}
#nav_dot a{
  color: #C6191E;
  text-decoration: none;
}
#nav_dot a:visited{
  color: #C6191E;
}
#nav_dot a:hover{
  color: #C6191E;
}
#nav_dot a:active{
  color: #E9C500;
}


/* ▽商品ナビゲーション▽*/

.pro_nav_head_row{
  width: 100%;
  margin: 0 auto;
}
ul.pro_nav_head{
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
}
.pro_nav_head a{
  display: block;
  text-decoration: none;
}
ul.pro_nav_head li{
  display: inline-block;
  background: #C6191E;
  color: #ffffff;
  width: auto;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin:0px 2px 10px 0px;
  padding: 7px;
  font-size: 80%;
}
ul.pro_nav_head li:hover{
  background: #E9C500;
}
ul.pro_nav_head li a{
  color: #ffffff;
  text-decoration: none;
}
ul.pro_nav_head li a:visited{
  color: #ffffff;
}
ul.pro_nav_head li a:hover{
  color: #000000;
}
ul.pro_nav_head li a:active{
  color: #E9C500;
}

/* ▽パンくずリスト▽*/

nav#breadcrumbs{
  width: 100%;
  height: auto;
  background-color: #E9C500;
  padding: 0px;
  margin-bottom: 10px;
}
nav#breadcrumbs ol li {
  display: inline;
  list-style-type: none;
}
nav#breadcrumbs ol li:before {
  content: " > ";
}
nav#breadcrumbs ol li:first-child:before {
  content:"";
}
.breadcrumbs_in{
  margin: 0 auto;
  width: 100%;
  text-align: left;
  height: auto;
}


/* ▽ページ送り▽*/
.page_navi{
  background-color: #E9C500;
}
.page_navi_dt{
  text-align: center;
  margin: 0 auto;
  padding-right: 20px;
}
.page_navi_dt li{
  display: inline-block;
}
.page_navi_dt a{
  display: block;
  text-decoration: none;
}
ul.page_navi_dt li:hover{
  background: #C6191E;
}
ul.page_navi_dt li a{
  color: #000000;
}
ul.page_navi_dt li a:visited{
  color: #000000;
}
ul.page_navi_dt li a:hover{
  color: #000000;
}
ul.page_navi_dt li a:active{
  color: #000000;
}
.page_navi_ot{
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  line-height: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  margin: 10px 0px; 
}
.page_navi_po{
  color: #000;
}
.current{
  width: 30px;
  height: 30px;
  background-color: #C6191E;
  color: #ffffff;
  line-height: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  margin: 10px 3px; 
}
.page_navi_pn{
  width: 120px;
  height: 30px;
  background-color: #ffffff;
  line-height: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  margin: 10px 3px; 
}
.page_navi_pn:hover{
  background: #C6191E;
}
.page_navi_p:before {
font-family: FontAwesome;
content: "\f104";
font-size: 120%;
margin-right: 10px;
}
.page_navi_n:after {
font-family: FontAwesome;
content: "\f105";
font-size: 120%;
margin-left: 10px;
}


/* ▽方眼シート▽*/
section{/* 方眼背景*/
    background-color: #FFF;
    min-height: 418px;
    padding: 10px 10px 10px 10px;
    background-image:
        -webkit-linear-gradient(
            transparent 95%,
            rgba(77, 77, 77, .2) 70%,
            rgba(77, 77, 77, .2)),
        -webkit-linear-gradient(
            0deg, transparent 95%,
            rgba(77, 77, 77, .2) 70%,
            rgba(77, 77, 77, .2)
            );
    background-size: 20px 20px;
    background-repeat: repeat;
    margin: 10px 0px;
}
.flame_row{　/* 白背景*/
  width: 100%;
  margin: 0 auto;
}


/* ▽方眼▽*/
section{/* 方眼背景*/
    background-color: #FFF;
    min-height: 418px;
    padding: 10px 10px 10px 10px;
    background-image:
        -webkit-linear-gradient(
            transparent 95%,
            rgba(77, 77, 77, .2) 70%,
            rgba(77, 77, 77, .2)),
        -webkit-linear-gradient(
            0deg, transparent 95%,
            rgba(77, 77, 77, .2) 70%,
            rgba(77, 77, 77, .2)
            );
    background-size: 20px 20px;
    background-repeat: repeat;
    margin: 10px 0px;
}
.pro_flame_row{
  width: 100%;
  margin: 0 auto;
}
.pro_flame_list{
  display: inline-block;
  padding: 0px;
  margin: 0px 5px 20px 5px;
  background-color: #ffffff;
  width: 260px;
  height: auto;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6); 
}
.pro_photo{
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  height: auto;
  background-color: #ffffff;
}

.paper{
	width:90%;
	height:auto;
	margin: 10px;
	background:#fff;
	border-radius:2px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.1);
	position:relative;
}
.paper:before,
.paper:after{
  width: 100%;
  height: 100%;
	content:"";
	display:block;
	background:#fff;
	border-radius:2px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.5);
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
}
.paper:before{
	-webkit-transform:rotate(-5deg);
	transform:rotate(-5deg);
}
.paper:after{
	-webkit-transform:rotate(5deg);
	transform:rotate(5deg);
}
.pro_title{
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 25px;
  line-height: 25px;
  color: #000000;
  background-color: #e5e5e5;
  clear: both;
}
.pro_comment{
  position: relative;
  width: 88%;
  height: 110px;
  margin: 0px 10px 0px 15px;
  text-align: left;
}
.pro_more{
  position: absolute;
  width: 130px;
  right: 0px;
  bottom: 10px;
  padding-right: 2px;
  text-align: right;
}
.pro_more a{
  color: #000000;
}

/* ▽商品ページ▽*/

.pro_flame_row{
  width: auto;
  height: auto;
  margin: 0 auto;
}
.pro_head{
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px #e5e5e5;
  border-bottom: solid 2px #e5e5e5;
  font-size: 140%;
  width: auto;
  margin: 0 auto;
  margin: 30px 10px 0px 10px;
}
.pro_head:before, .pro_head:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: #e5e5e5;
}
.pro_head:before {left: 7px;}
.pro_head:after {right: 7px;}
.pro_left{
  width: auto;
  margin: 0 auto;
  padding: 0px 10px;
}
.pro_right{
  width: auto;
  padding: 20px 10px;
  
}
.pro_flame{
  display: inline-block;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  background-color: #ffffff;
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6); 
}
.pro_l_title{
  width: 100%;
  height: 25px;
  padding-top: 4px;
  border-bottom: solid 3px #e5e5e5;
  line-height: 25px;
  font-size: 120%;
  color: #000000;
  background-color: #e5e5e5;
}

.pro_photo{
  margin: 0 auto;
  width: auto;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.pro_photo_in{
  margin: 0 auto;
  padding: 0px;
  width: 240px;
  height: auto;
  background-color: #ffffff;
  border: solid 1px #000;
}
.paper{
  display: none;
	width:200px;
	height:auto;
	padding:15px 10px 10px 10px;
	border:1px solid #e5e5e5;
	background:#fff;
	border-radius:2px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.1);
	position:relative;
}
.paper:before,
.paper:after{
	content:"";
	display:block;
	width:100%;height:100%;
	border:1px solid #000;
	background:#fff;
	border-radius:2px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.5);
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
}
.paper:before{
	-webkit-transform:rotate(-5deg);
	transform:rotate(-5deg);
}
.paper:after{
	-webkit-transform:rotate(5deg);
	transform:rotate(5deg);
}
.thumbnail img{
  width: 30%;
}
.pro_l_text2{
  margin: 10px 0 30px 0;
}
.pro_l_text3{
  margin: 10px 0 20px 0;
  text-align: center;
}
.pro_l_text4{
  margin: 10px 0 20px 0;
  text-align: center;
}
.pro_l_days1{
  width: auto;
  margin-right: 10px;
  padding: 2px;
  background-color: #e5e5e5;
}
.pro_l_site{
  width: auto;
  margin-right: 10px;
  padding: 2px;
}
.pro_r_title{
  margin-bottom: 5px;
  border-bottom: solid 5px #e5e5e5;
  font-size: 120%;
  text-align: left;
}
.pro_r_title:before{
  width: 100%;
  height: 5px;
  line-height: 25px;
  color: #000000;
  background-color: #e5e5e5;
}
.pro_r_title1,.pro_r_title2,.pro_r_title3,.pro_r_title4{
  width: 170px;
  float: left;
  margin: 0px 15px 0 0;
  padding: 2px 0 0 0;
  background-color: #e5e5e5;
  text-align: center;
}
.pro_r_text1,.pro_r_text2,.pro_r_text3,.pro_r_text4{
  width: 98%;
  height: auto;
  padding-left: 5px;
  margin: 0px 0px 20px 0;
  text-align: left;
}
.pro_r_text1 p{
  display: block;
  margin-top: -4px;
  font-size: 140%;
}
.pro_r_site{
  display: inline-block;
  width: auto;
  margin-right: 10px;
  margin-bottom: 3px;
  padding: 2px;
  background-color: #e5e5e5;
}
table.pro_table1{
        border-collapse: collapse;
    }
table.pro_table1 tr{
        border-color: #e5e5e5;
        border-style: solid;
        border-width: 1px 0;
    }
table.pro_table1 th{
  width: 120px;
  font-weight: normal;
  text-align: center;
}

/*▽お問い合わせ▽*/
.con_flame{
  display: inline-block;
  padding-bottom: 20px;
  margin: 0px 5px 0px 5px;
  background-color: #ffffff;
  width: 90%;
  height: auto;
  text-align: center;
  border: solid 1px #e5e5e5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
#con_h1:before {
  font-family: FontAwesome;
  content: "\f003";
}
.con_desc{
  margin: 0 auto;
  text-align: center;
  margin: 10px;
}
.con_box{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: solid 1px #e5e5e5;
}
.con_text{
  margin-left: 10px;
}
.con_email{
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}
textarea {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}


/*▽サイトマップページ▽*/
.sima_flame{
  display: inline-block;
  padding-bottom: 20px;
  margin: 0px 5px 0px 5px;
  background-color: #ffffff;
  width: 540px;
  height: auto;
  text-align: center;
  border: solid 1px #e5e5e5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
#sima_h1:before {
  font-family: FontAwesome;
  content: "\f07b";
}
.sima_block{
  width: 460px;
  margin: 0 auto;
  text-align: left;
}
#sima_list{
  width: auto;
  margin-left: 80px;
  list-style: none;
	text-align:left;
}
#sima_plus:before{
  font-family: FontAwesome;
  content: "\f0fe";
  color: #0075B4;
}
#sima_minus:before{
  font-family: FontAwesome;
  content: "\f146";
  color: #0075B4;
}

ul#sima_list li {
  margin-top: 20px;
  margin-bottom: -10px;
}
ul#sima_list li ul {
	padding-left:20px;
}
ul#sima_list li ul li {
	list-style:none;
	padding-left:20px;
	margin-top: 5px;
	margin-bottom: -2px;
}
ul#sima_list li ul li a{
  margin-left: 7px;
}


/*▽attaのページ▽*/
.abo_flame{
  display: inline-block;
  padding: 0px;
  margin: 0px 5px 0px 5px;
  background-color: #ffffff;
  width: 95%;
  height: auto;
  text-align: center;
  border: solid 1px #e5e5e5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
#abo_h1{
  padding-right: 30px;
}
#abo_h1:before {
  font-family: FontAwesome;
  content: "\f118";
}
.abo_mes{
  font-family: "Nikukyu";
  font-size: 150%;
  margin-bottom: 15px;
}
.abo_h2{
  width: 80%;
  margin:0 auto;
  margin-top: 40px;
  border-top: solid 2px #C6191E;
  border-bottom: solid 2px #C6191E;
}
.abo_text{
  margin: 20px 10px 20px 10px;
}
#wf-roundedmplus1c {
  font-family: "Rounded Mplus 1c";
}










  }

/* タブレット */
@media  print, screen and (min-width: 415px) and (max-width: 650px)/* 414px以上  768px以下 */
{
.con_name{
    width:70%;
    max-width: 150px;
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}
.con_email{
    width:70%;
    max-width: 150px;
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}
textarea {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}
}